.blockish-border-radius-control {
	position: relative;

	.blockish-border-radius-reset {
		position: absolute;
		top: -2px;
		right: 24px;
		z-index: 2;
		min-width: 20px;
		width: 20px;
		height: 20px;

		svg {
			width: 20px;
			height: 20px;
		}
	}

	.components-border-radius-control__header {
		padding-right: 4px;
	}
}
