:root {
    /* Primary Colors */
    --color-primary: #5b5bfb;
    --color-secondary: #7aefab;
  
    /* Neutral Colors */
    --color-white: #ffffff;
    --color-black: #0b0b0b;
    --color-gray-light: #dfe6e9;
    --color-gray-dark: #2d3436;
  
    /* Alerts */
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-error: #dc3545;
  }
