.blockish-navmenu-submenu {
	min-width: 180px;

	.block-list-appender {
		position: relative !important;
	}

	.block-editor-inserter__toggle.components-button.has-icon,
	.block-list-appender__toggle {
		display: flex !important;
	}
}
