.blockish-google-map-wrapper {
	--blockish-google-map-hover-transition: 0s;
	width: 100%;

	.blockish-google-map__iframe {
		display: block;
		width: 100%;
		max-width: 100%;
		border: 0;
		transition: filter var(--blockish-google-map-hover-transition);
	}
}

:where(.blockish-google-map-wrapper .blockish-google-map__iframe) {
	height: 360px;
}
